<script type="text/template" id="tmpl_partial_about">
    <p>Hi there! This is app was created to help you accomplish your goal. Whether it's exercise, cleaning, coding or writing, simply mark the day down when you did it. String up combo days to stay motivated. Original idea from <a href="http://lifehacker.com/5886128/how-seinfelds-productivity-secret-fixed-my-procrastination-problem" target="_blank">here</a>.</p>
</script>
