<script type="text/template" id="tmpl_partial_about">
    <p>Hi there! This application was created specifically to help you accomplish your goal, whatever that goal might be!  Whether your goal is to exercise, clean, code, or write, you just simply select the day you accomplished that goal.  Then, string up combo days to help stay motivated. Original idea from <a href="http://lifehacker.com/5886128/how-seinfelds-productivity-secret-fixed-my-procrastination-problem" target="_blank">here</a>.</p>
</script>
