<script type="text/template" id="tmpl_partial_header">
    <div id="header-inner" class="clearfix">
		<a id="github-ribbon" href="https://github.com/you"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
        <h3 id="logo"><span><em>Don't</em> Break</span> the Chain!</h3>
        <nav>
            <ul id="main-menu">
                <!-- <li><a id="a-login" class="modal-link" href="/login">Login</a></li> -->
                <li><a id="a-settings" class="modal-link" href="/Settings">Settings</a></li>
                <li><a id="a-about" class="modal-link" href="/about">About</a></li>
            </ul>
        </nav>
    </div>
</script>
