<script type="text/template" id="tmpl_partial_header">
    <div id="header-inner" class="clearfix">
        <h3 id="logo"><span><em>Don't</em> Break</span> the Chain!</h3>
        <nav>
            <ul id="main-menu">
                <!-- <li><a id="a-login" class="modal-link" href="/login">Login</a></li> -->
                <li><a id="a-about" class="modal-link" href="/Settings">Settings</a></li>
                <li><a id="a-about" class="modal-link" href="/about">About</a></li>
            </ul>
        </nav>
    </div>
</script>
