<script type="text/template" id="tmpl_partial_login">
  <form id="login-form">
    <input placeholder="Username" id="userNameInput" name="userNameInput" type="text" autocapitalize="none" tabindex="1" />
    <input placeholder="Password" id="userPasswordInput" name="userPasswordInput" type="password" autocapitalize="none" tabindex="2" />
    <div id="submit-container" class="clearfix">
      <input id="submitButton" type="submit" value="Log In" class="button" />
    </div>
    <div id="remember-container" class="clearfix">
      <label id="rememberMeLabel" for="rememberMeInput">Remember me</label>
      <input id="rememberMeInput" name="rememberMeInput" tabindex="3" type="checkbox" />
    </div>
    <p> Need an account? <a id="a-signup" class="modal-link" href="/signup">Signup for free.</a></p>
  </form>
</script>
