<script type="text/template" id="tmpl_partial_signup">
  <form id="signup-form">
      <input placeholder="Username" id="userNameInput" name="userNameInput" type="text" autocapitalize="none" tabindex="1" />
      <input placeholder="Password" id="userPasswordInput" name="userPasswordInput" type="password" autocapitalize="none" tabindex="2" />
      <div id="submit-container" class="clearfix">
        <input id="submitButton" type="submit" value="Log In" class="button" />
      </div>
      <div id="remember-container" class="clearfix">
        <label id="rememberMeLabel" for="rememberMeInput">Remember me</label>
        <input id="rememberMeInput" name="rememberMeInput" tabindex="3" type="checkbox" />
      </div>
      <!-- <div id="forgot-password-container">
        <a id="forgotPasswordLink" title="Forgot password" href="forgot-password">Forgot Password?</a> -->
      </div>
  </form>
</script>
