@import 'mixins';

header{
  padding:1em 2em 0;
  nav{
    float: left;
    margin: 0 0 0 0.4em;
  }
}

h3#logo{
  span{color: black;}
  margin: 0;
  padding: 0.2em;
  float: left;
  background-color: $highlight;
  font-size: 0.8em;
  font-weight: bold;
  color: white;
}

ul#main-menu{
  font-size: 0.8em;
  li{
    margin-left: 0.1em;
    a{
      padding: 0.2em;
      display: block;
    }

    display: inline-block;
  }

}

/* mobile portrait */
@media only screen and (max-width: 617px) {
	#github-ribbon{
		display:none;
	}
	header {
	    padding: 0;
	    top: 0;
		nav {
		    float: right;
		}
	}
}

