@import 'mixins';

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }

@font-face {
  /* http://www.fontsquirrel.com/fontface/generator */
  font-family: 'LatoRegular';
  src: url('/webfonts/lato-reg-webfont.eot');
  src: url('/webfonts/lato-reg-webfont.eot?#iefix') format('embedded-opentype'),
    url('/webfonts/lato-reg-webfont.woff') format('woff'),
    url('/webfonts/lato-reg-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body{
  font-family: 'LatoRegular';
  font-size: 110%;
}

h1,h2,h3,h4{
  font-family: 'LatoRegular';
}

ul, li{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a,a:visited{
  text-decoration: none;
  font-weight: bold;
  color: black;
  &:hover{
    color: white;
    background-color: $highlight;
  }
}

#container{
  clear: both;
}

/* Hide audio player */
#audio-player{
  position: absolute;
  top: -9999px;
  left: -9999px;
  width: 1px;
  height: 1px;
  display: none;
}